* {
    margin: 0;
    padding: 0;
}

.box1 {
    width: 600px;
    height: 600px;
    background-color: #61a0f2;
    border: 10px solid #5545e5;
    position: relative;
    top: 50px;
    left: 100px;
}

.start {
    width: 100px;
    height: 40px;
    background-color: #abc84e;
    border-radius: 10%;
    position: relative;
    top: 10px;
    left: 800px;
}